# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[Justfile]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab

[*.rs]
indent_style = tab
indent_size = 4

[*.yaml]
indent_style = space
indent_size = 2

[*.elm]
indent_style = space
indent_size = 4

[*.fs]
indent_style = space
indent_size = 4

[*.ts]
indent_style = tab
indent_size = 4

[*.js]
indent_style = tab
indent_size = 4

[*.ml]
indent_style = tab
indent_size = 4

[*.json]
indent_style = tab
indent_size = 4

[*.mjml]
indent_style = tab
indent_size = 4

[*.html]
indent_style = tab
indent_size = 4
