export API_HOST=http://localhost:4010
export API_IMAGE_TAG=123.dkr.ecr.ap-southeast-2.amazonaws.com/save-up-api:latest
export API_IP=1.2.3.4
export API_PORT=4010
export API_SECRET=abc
export CLIENT_HOST=http://localhost:8080
export DATABASE_URL_TEST=xx
export DATABASE_URL=postgres://postgres@localhost/db_name
export RUSTFLAGS="-Aproc-macro-derive-resolution-fallback"
export SYSTEM_EMAIL=foo@example.com
export SYSTEM_JWT=abc
export SCALEWAY_ORGANIZATION=abc
export SCALEWAY_TOKEN=123
