export API_HOST=http://localhost:4010
export API_HOST_PROD=http://...
export API_IMAGE_TAG=123.dkr.ecr.ap-southeast-2.amazonaws.com/save-up-api:latest
export API_PORT=4010
export API_SECRET=abc
export API_SECRET_PROD=abc
export CLIENT_HOST=http://localhost:8080
export CLIENT_HOST_PROD=http://localhost:8080
export DATABASE_URL=postgres://postgres@localhost/db_name
export DATABASE_URL_PROD=postgres://postgres@localhost/db_name
export DATABASE_URL_TEST=xx
export NETLIFY_SITE_ID_APP=123
export RUSTFLAGS="-Aproc-macro-derive-resolution-fallback"
export SCALEWAY_ORGANIZATION=abc
export SCALEWAY_TOKEN=123
export SYSTEM_EMAIL=foo@example.com
export SYSTEM_JWT=abc
export SYSTEM_JWT_PROD=abc
