<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock title %} - KIC</title>
    {% endblock head %}
</head>
<body class="bg-grey-light">
    <nav class="bg-black flex justify-end py-2 pr-2">
        <div class="flex">
            <div class="text-white mr-3">{{ user_email }}.</div>
            <form action="/sign_out" method="post" accept-charset="utf-8">
                <input
                    class=""
                    type="submit" name="sign_out" value="Sign out" />
            </form>
        </div>
    </nav>
    <div>{% block content %}{% endblock content %}</div>
</body>
</html>
