<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock title %} - My Webpage</title>
    {% endblock head %}
</head>
<body class="bg-grey-light">
    <div>{% block content %}{% endblock content %}</div>
</body>
</html>
